* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --all-section-right-left-padding: 24px 128px 0 128px;
}

.container {
    width: 100%;
}


@keyframes showNav {
    0% {
        transform: translateX(70vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

@keyframes closeNav {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(70vw);
    }
}